body {
    margin: 0px;
    font-size: 2vw;
}

header {
    background-color: #3595ff;
    height: 10vh;
    color: white;
    margin: 2vw;
    position: relative;
}
p {
    display: inline-block;
    width: calc(95%);
}

.content {
    display: flex;
}

.left-nav {
    display: none;
    margin-left: 2vw;
}
.right-nav {
    display: none;
    margin-right: 2vw;
}

body > .content > div {
    height: 90vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*tablet*/
@media (max-width: 1024px) {
    .right-icon {
        display: none;
    }

    .left-nav {
        display: block;
        height: 90vh;
        width: 20vw;
        background-color: darkgray;
        margin-right: 2vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content {
        margin-right: 2vw;
    }
}
/*desctop*/
@media only screen and (min-width: 1024px) {

    .right-icon, .left-icon {
        display: none;
    }

    .left-nav {
        display: block;
        height: 90vh;
        width: 20vw;
        background-color: darkgray;
        margin-right: 2vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-nav {
        display: block;
        height: 90vh;
        width: 20vw;
        background-color: darkgray;
        text-align: center;
        line-height: 100%;
        margin-left: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*mobile*/
@media only screen and (max-width : 660px) {
    p {
        text-align: center;
    }

    .right-nav, .left-nav {
        display: none;
    }

    .right-icon{
        display: inline-block;
    }
    .content{
        margin-left: 2vw;
    }
}
