.container {
    display: flex;
    flex-direction: column;
}

.gray {
    background-color:gray ;
}

.light-gray {
    background-color:#F3F3F5;
}

.dark-gray {
    background-color:#D1D2D4;
}

.x-width {
    width: 25%;
}

.x2-width {
    width: 50%;
}
.border{
    border: 1px solid black;
}

[class^='line-'] {
    margin-bottom: 0.5em;
}

[class^='line-'], .inner-item-2 {
    display: flex;
    justify-content: space-between;
}

div {
    text-align: center;
}

button {
    text-align: center;
}

[class^='line-'] > div {
    margin: 0.5em;
    height: 200px;
    line-height: 200px;
}

.line-1 .inner-item-1 {
    height: 120px;
    line-height: 120px;
}

.line-1 .inner-item-2 * {
    height: 74px;
    width: 32%;
    margin-top: 5px;
    line-height: 74px;
    text-decoration: none;
    color: black;
}

.line-2 .inner-item-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.line-2 > div {
    height: 4em;
}

.line-3 {
    position: relative;
    height: 60px;
    margin: 10px;
}

input {
    position: absolute;
    height: 25px;
    width: 70%;
    top: 25%;
    left: 5%;
}

span#search-text {
    position: absolute;
    top: 10px;
    left: 10px;
}

span#advanced-search-text {
    position: absolute;
    top: 40px;
    left: 80%;
}

button#search-button {
    top: 15px;
    position: absolute;
    left: 76%;
    height: 30px;

}

.line-2 button{
    background-color:gray;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    width: 25%;
}
.line-2 button:not(:last-child) {
    border-right: 1px solid black;
}

.line-4{
    margin-top: 30px;
}
.line-4 > div:first-child {
    position: relative;
}

.line-4 > div:first-child > div:first-child {
    position: absolute;
    top: -20px;
    line-height: 18px;
}

.line-5 > div {
    height: 400px;
}
.line-5 .x2-width{
    line-height: 400px;
}

.vertical {
    flex-direction: column;
    justify-content: space-between;
}

.vertical > div {
    height: 195px;
}

.vertical > div:first-child {
    margin-bottom: 10px;
}