header {
    margin-top: 15px;
}

footer {
    height: 10vh;
    background-color: #6f4763;
    margin-right: 15px;
    margin-left: 15px;
}

.x-height {
    height: 10vh;
    background-color: #6f4763;
    margin-bottom: 2vh;
}

.x1-height {
    height: 20vh;
    background-color: #6f4763;
    margin-bottom: 2vh;
}

.x2-height {
    height: 50vh;
    background-color: #6f4763;
    margin-bottom: 2vh;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 992px) {
    .x-height {
        height: 5vh;
    }

    .x1-height {
        height: 10vh;
    }

    .x2-height {
        height: 10vh;
    }

    .article-listing {
        height: 30vh;
    }
}


